.wrapper {
   margin-bottom: 10px;
}
.infor-background {
   position: relative;
   width: 100%;
}
.image {
   position: relative;
   width: 100%;
}
.icon-favorite {
   color: #fff;
   top: 5%;
   left: 3%;
   position: absolute;
   background-color: rgba(0, 0, 0, 0.1);
   border-radius: 8px;
   padding: 5px;
   cursor: pointer;
}
.tour-category {
   position: absolute;
   bottom: 0;
   left: 0;
   background: #fff;
   border-radius: 2px 2px 0 0;
   padding: 5px 10px;
   color: #4d4aef;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   justify-content: space-evenly;
}
.tour-rating {
   position: absolute;
   top: 3%;
   right: 3%;
   font-weight: 700;
   font-size: 17px;
   line-height: 20px;
   color: #fff;
   background: #fdc432;
   width: 40px;
   height: 25px;
   display: flex;
   align-items: center;
   justify-content: center;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
   border-bottom-left-radius: 5px;
   &::before {
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-top: 5px solid #fdc432;
      position: absolute;
      top: 100%;
      right: 0;
      z-index: 1;
   }
}
.tour-review {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   height: 25%;
   color: #fff;
   background-color: rgba(0, 0, 0, 0.1);
   border-radius: 8px;
   padding: 5px;
   text-align: right;
   position: absolute;
   top: 15%;
   right: 3%;
   font-size: 1.6rem;
}
.tour-review-feedback {
   font-weight: 700;
}
.tour-review-count {
   padding: 5px;
   border-radius: 8px;
   background-color: rgba(0, 0, 0, 0.15);
}

// card body
.card-body {
   display: flex;
   flex-direction: column;
   color: #2d4271;
}
.header-tour,
.body-tour {
   font-weight: 400;
   text-align: left;
   display: flex;
   flex-direction: column;
   font-size: 1.6rem;
}
.start-tour {
   font-size: 1.3rem;
}
.name-tour {
   font-size: 1.7rem;
   font-weight: 700;
   margin-bottom: 10px;
   max-width: 100%;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: normal;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 3;
}
.tour-id {
   display: flex;
   align-items: center;
   padding: 0px 0px 15px 0px;
   & p {
      padding: 0px 10px;
   }
}
.point-of-departure {
   display: flex;
   flex-direction: row;
   padding: 0px 0px 10px 0px;
   & p {
      padding: 0px 10px;
   }
}
.cost-current {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}
.cost-current-number,
.number-slot {
   color: #fd5056;
   font-size: 2rem;
   font-weight: 700;
   width: max-content;
   padding-left: 5px;
}
.discount-percent {
   padding: 5px;
   background-color: #fd5056;
   color: #fff;
   font-size: 1.3rem;
   font-weight: 700;
}
.cost-current-timer {
   margin-top: 20px;
   padding: 10px;
   border: 1px solid #4d4aef;
   color: #4d4aef;
   font-weight: 700;
   border-radius: 5px;
   font-size: 11px;
   text-align: center;
}
.slot {
   margin-top: 20px;
   font-weight: 600;
   width: max-content;
   float: right;
   display: flex;
   font-size: 1.7rem;
   justify-content: space-between;
}
