.wrapper {
   padding: 24px;
}
.header {
   display: flex;
   flex-direction: row;
   align-items: center;
}
.header-title {
   padding: 0px 10px;
   font-size: 1.5rem;
   font-weight: 700;
}
.header-line {
   margin: 0px 10px;
   flex: 2;
   border-bottom: 1px solid #000;
}
.content {
   padding: 20px;
}
.content-info {
   display: flex;
   flex-direction: row;
   + .content-info {
      padding-top: 30px;
   }
}
.name-hotel-space {
   flex: 2;
   margin-right: 20px;
}
.date-of-departure-destination {
   width: 30%;
}
.number-of-passengers {
   width: 35%;
}
.number-of-room {
   margin: 0px 20px;
   width: 30%;
}
.number-of-room,
.number-of-passengers,
.name-hotel-space,
.date-of-departure-destination {
   display: flex;
   flex-direction: row;
   height: auto;
   border-radius: 10px;
   line-height: 1.25;
   background-color: #fff;
   border: 5px solid #ffc709;
   color: #2d4271;
   line-height: 28px;
   padding-right: 20px;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
   box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 10px 0px;
}
.infor {
   text-align: left;
   display: flex;
   flex-direction: column;
   width: 80%;
   align-content: center;
   justify-content: center;
}
.icon {
   padding: 16px;
}
.name {
   font-size: 1.3rem;
}
.value {
   font-weight: 700;
}

// formselector
.formSelector {
   width: 250px;
   background-color: #fff;
   display: flex;
   flex-direction: column;
}
.formSelector-title {
   float: left;
   font-size: 1.6rem;
   padding: 10px;
   background-color: #e7e7e7;
}
.quantity {
   display: flex;
   flex-direction: row;
   padding: 10px 20px;
   align-items: center;
}
.quantity-adult,
.quantity-children {
   padding: 0px 10px;
   font-size: 2rem;
   font-weight: 600;
}
.infor-adult,
.infor-children {
   padding: 10px;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   justify-content: space-between;
}
.btn-add,
.btn-subtract {
   font-weight: 400;
   width: 20px;
   height: 20px;
   border: 1px solid #7d8fab;
   color: #2d4271;
   cursor: pointer;
}
.infor-adult-description,
.infor-children-description {
   width: 130px;
}
.description {
   font-size: 1.8rem;
   font-weight: 600;
}
.sub-description {
   font-size: 1.4rem;
}

// btn-submit
.btn-submit {
   color: #ffc709 !important;
   flex: 2;
   font-weight: 600;
   color: #382b22;
   text-transform: uppercase;
   padding: 1.25em 2em;
   background: #fff0f0;
   border: 2px solid #b18597;
   border-radius: 0.75em;
   transform-style: preserve-3d;
   transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
   &::before {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #f9c4d2;
      border-radius: inherit;
      box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0 #ffe3e2;
      transform: translate3d(0, 0.75em, -1em);
      transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
   }
   &:hover {
      background: #ffe9e9;
      transform: translate(0, 0.25em);
      &::before {
         box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #ffe3e2;
         transform: translate3d(0, 0.5em, -1em);
      }
   }
   &:active {
      background: #ffe9e9;
      transform: translate(0em, 0.75em);
      &::before {
         box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
         transform: translate3d(0, 0, -1em);
      }
   }
}
