.wrapper {
   width: 85%;
   margin: auto;
   margin-top: 50px;
   padding-right: 12px;
}
.sidebar-inner {
   display: flex;
   flex-direction: column;
}

.tour-search-result-filter-brand {
   display: flex;
   padding: 16px;
   background-color: #f2f5f7 !important;
   span {
      font-weight: 700;
      font-size: 2.3rem;
   }
}
.tour-search-result-filter-heading {
   display: flex;
   padding: 8px 16px;
   background-color: #4d4aef;
   color: #fff;

   span {
      font-weight: 700;
      font-size: 1.5rem;
   }
}
.tour-search-form {
   padding: 24px 16px;
}
.type-tour,
.start-to-stop,
.choice-number-date,
.choice-lever-tour {
   width: 100%;
   margin-top: 20px;
}
.s-title {
   font-weight: 700;
   font-size: 1.5rem;
   line-height: 16px;
   text-transform: uppercase;
   color: #2d4271;
   margin-bottom: 15px;
}
.selection-type-tour,
.select-point-of-departure {
   display: block;
   width: 100%;
   padding: 0.375rem 0.75rem;
   font-size: 1.6rem;
   font-weight: 400;
   line-height: 1.5;
   color: #2d4271;
   background-color: #fff;
   background-clip: padding-box;
   border: 1px solid #d8d8d8;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   border-radius: 0.25rem;
   border: none;
   transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
   transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
   transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
.btn {
   background: #fff;
   -webkit-box-shadow: 0 2px 0 #e2f3ff;
   box-shadow: 0 2px 0 #e2f3ff;
   border-radius: 5px;
   width: 100%;
   margin-top: 10px;
}
.s-mark-title {
   margin: 20px 0px;
   font-weight: 700;
   font-size: 1.5rem;
   line-height: 16px;
   display: flex;
   align-items: center;
   justify-content: space-around;
   &::after {
      content: '';
      width: 55%;
      border-top: 1px solid #d5d5d5;
      display: block;
      margin-left: 15px;
   }
}

//RangeSlider Css

.s-title-price {
   padding-left: 10px;
   font-weight: 300;
   font-size: 2rem;
   line-height: 16px;
   color: #2d4271;
   margin-bottom: 15px;
}
.filter-sale-item {
   display: flex;
   align-items: center;
   justify-content: flex-start;
   margin-bottom: 10px;
   p {
      margin-left: 15px;
      font-size: 1.7rem;
      width: 50%;
   }
}
.title-header {
   font-size: 3rem;
   text-align: center;
   font-weight: bold;
   padding: 24px 0px;
}
.order-by-title {
   font-weight: 500;
   font-size: 1.6rem;
}
.suggest-title-tour-search {
   h2 {
      margin: 10px 20px;
      font-size: 2.6rem;
      font-weight: 700;
   }
   .list-btn-suggest {
      margin-left: 40px;
      .btn {
         font-size: '1.5rem';
         width: max-content;
         margin-left: 10px;
      }
      .icon {
         padding-right: 15px;
      }
   }
}
.selected {
   background-color: #4d4aef;
   color: #fff !important;
}
