.wrapper {
   width: 85%;
   margin: auto;
}
.wrap-mark {
   display: flex;
   align-items: center;
   padding: 10px 10px 10px 0;
   font-size: 1.3rem;
}
.icon {
   opacity: 0.8;
   padding: 10px 10px 10px 0;
}
.wrap-mark-title {
   color: #4d4aef;
}
.content-header {
   display: flex;
}

.content-header-1,
.content-header-2 {
   flex: 1;
}
.title {
   width: 90%;
   font-size: 2.4rem;
   font-weight: 700;
   line-height: 30px;
   margin-bottom: 12px;
   max-width: 100%;
}
.short-rating {
   display: flex;
   position: relative;
   width: 100%;
}
.tour-rating {
   position: relative;
   top: 0;
   left: 0;
   font-weight: 700;
   font-size: 2.6rem;
   line-height: 20px;
   color: #fff;
   background: #fdc432;
   width: 65px;
   height: 50px;
   display: flex;
   align-items: center;
   justify-content: center;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
   border-bottom-right-radius: 5px;
   &::before {
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-right: 5px solid transparent;
      border-top: 5px solid #fdc432;
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 1;
   }
}
.s-comment {
   padding: 0 10px;
   font-size: 17px;
   color: #2d4271;
   line-height: 20px;
   font-weight: 700;
   h4 {
      margin-bottom: 5px;
   }
   p {
      font-size: 1.3rem;
      font-weight: 500;
   }
}
.s-wishlist {
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   width: 112px;
   height: 50px;
   background: #fff;
   border: 0.5px solid #d5d5d5;
   border-radius: 5px;
}
.content-header-2 {
   font-size: 1.6rem;
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
}

.group-price {
   display: flex;
   flex-direction: column;

   p {
      text-align: right;
   }
   .line-thought {
      text-decoration: line-through;
      margin-left: 5px;
   }
   .current-price {
      font-size: 2.5rem;
      font-weight: 700;
      color: #fd5056;
      line-height: 28px;
   }
}
.group-add-cart {
   display: flex;
   flex-direction: column;
   padding-left: 10px;

   a {
      background: linear-gradient(64.4deg, #fd5056 21.33%, #fe2214 67.61%);
      border-radius: 5px;
      height: 50px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 192px;
      color: #fff;
      font-weight: 500;
      margin-bottom: 10px;
   }
   a:nth-child(2) {
      background: #fff;
      color: #2d4271;
      border: 1px solid #2d4271;
      border-radius: 5px;
   }
}
.group-add-cart2 {
   display: flex;
   flex-direction: column;
   padding-left: 10px;

   a {
      background: linear-gradient(64.4deg, #7e7475 21.33%, #857372 67.61%);
      border-radius: 5px;
      height: 50px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 192px;
      color: #fff;
      font-weight: 500;
      margin-bottom: 10px;
   }
   a:nth-child(2) {
      background: #fff;
      color: #2d4271;
      border: 1px solid #2d4271;
      border-radius: 5px;
   }
}

.list-image {
   margin-top: 50px;
}
.box-order {
   line-height: 31px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding: 15px 30px;
   background: #fff;
   border-radius: 10px;
}
.time {
}
.calendar {
}
.calendar-box {
   border: 1px solid #4d4aef;
   border-radius: 5px;
   width: 110px;
   height: 30px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: space-evenly;
   -ms-flex-pack: space-evenly;
   justify-content: space-evenly;
   &:hover {
      color: #4d4aef;
   }
}
.box-support {
   margin: 20px 0px 30px 0px;
}
.group-contact {
   margin-top: 10px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   background: #fff;
   border: 1px solid #4d4aef;
   border-radius: 14px;
   max-width: 350px;
   .contact-box {
      border-radius: 10px;
      height: 50px;
      width: 183px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      :first-child {
         padding-right: 6px;
      }
   }
   .phone {
      background: #4d4aef;
      color: #fff;
   }
   .mail {
      color: #4d4aef;
   }
}
.group-services {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-column-gap: 30px;
   grid-row-gap: 30px;
   border-bottom: 1px solid #7d8fab;
   padding-bottom: 20px;
   margin-bottom: 35px;
}
.item {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   align-items: flex-start;
   line-height: 30px;
   svg {
      font-size: 25px;
      color: #4d4aef;
      margin-bottom: 5px;
   }
   label {
      margin-bottom: 5px;
      font-weight: 700;
   }
}
.infor-tour-guide {
   display: flex;
   justify-content: flex-start;
   font-size: 1.7rem;
   flex-direction: column;
}
.infor-tour-guide-item {
   display: block;
   + .infor-tour-guide-item {
      padding-top: 40px;
   }
}
.suggest-tour {
   margin-bottom: 20px;
}
.policy-content {
   padding: 10px;
   margin-bottom: 20px;
}
.policy-title {
   margin-top: 10px;
   text-align: center;
}
.policy-header-title {
   // margin-bottom: 20px;
   span {
      font-size: 2rem;
      font-weight: 700;
      color: #2d4271;
   }
}
@media screen and (max-width: 910px) {
   .content-header {
      display: flex;
      flex-direction: column;
   }
   .group-add-cart {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      a {
         width: 45%;
      }
   }
   .content-header-2 {
      display: flex;
      flex-direction: column;
   }
   .group-price {
      margin-bottom: 20px;

      p {
         text-align: left;
      }
   }
   .content-header-1 {
      flex: none;
   }
   .item {
      label,
      p {
         font-size: 1.1rem;
      }
   }
}
