.wrapper {
   padding: 24px;
}
.list-btn-type-tour {
   list-style: none;
   display: flex;
   align-items: flex-start;
}
.btn-type-tour {
   cursor: pointer;
   font-size: 1.6rem;
   padding: 8px 16px;
   background-color: #fff;
   color: #2d4271;
   -webkit-box-shadow: 0 2px 0 #e2f3ff;
   box-shadow: 0 2px 0 #e2f3ff;
   border: 0.5px solid #d8d8d8;
   border-radius: 5px;
   + .btn-type-tour {
      margin-left: 10px;
   }
}
.selected {
   background-color: #4d4aef;
   color: #fff;
}
.content-type-tour {
   margin-top: 2%;
   display: flex;
   align-items: flex-start;
   border-bottom: 1px solid #e9ecef;
}
.content-tour-btn {
   isolation: isolate;
   padding: 10px 16px;
   cursor: pointer;
   font-size: 1.6rem;
   background-color: #fff;
   font-weight: 700;
   border: 1px solid transparent;
   border-top-left-radius: 0.25rem;
   border-top-right-radius: 0.25rem;
   border-bottom: 0px;
   &:hover {
      border-color: #e9ecef #e9ecef #dee2e6;
   }
}
.active {
   border-color: #fff #fff #4d4aef !important;
   border-bottom: 2px solid #4d4aef;
   color: #4d4aef !important;
}
.disable {
   display: none !important;
}
