.wrapper {
   margin: 20px 0px;
}
.infor-background {
   position: relative;
}
.image {
   position: relative;
   width: 100%;
}
.icon {
   position: absolute;
   color: #fff;
   top: 40%;
   right: 44%;
}
