.wrapper {
   h2 {
      margin: 10px 20px;
      font-size: 2.6rem;
      font-weight: 700;
      text-align: center;
   }
}

.listImage {
   margin-top: 20px;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
}
.image {
   padding: 0 10px;
   width: 19%;
   height: auto;
   border-radius: 20px;
   object-fit: cover;
}
