.wrapper {
   width: 80%;
   margin: auto;
   padding-top: 220px;
   // display: flex;
   // flex-direction: column;
}
.wrapper img {
   height: 309px;
   width: 400px;
}

.each-slide {
   width: 300px;
   height: 200px;
}
.title {
   text-align: left;
   font-weight: 700;
   font-size: 30px;
   color: #2d4271;
   padding: 10px 20px;
}
