.wrapper {
   width: 99%;
   margin: auto;
   padding-top: 220px;
}
@media screen and (max-width: 910px) {
   .wrapper {
      padding-top: 20px;
   }
}
.wrapper img {
   height: 90%;
   width: 90%;
}

.each-slide {
   width: 300px;
   height: 200px;
}
.title {
   text-align: left;
   font-weight: 700;
   font-size: 30px;
   color: #2d4271;
   padding: 10px 20px;
}
