.wrapper {
   margin-top: 50px;
   width: 100%;
}
.title {
   padding: 10px 10px 20px 0px;
   text-align: left;
}
.list-card-tour {
   flex-wrap: wrap;
   justify-content: space-evenly;
   display: flex;
   flex-direction: row;
}
@media screen and (max-width: 908px) {
   .list-card-tour {
      flex-direction: column;
      align-items: center;
   }
}
.title-center {
   text-align: center;
}
