.wrapper {
   margin-top: 50px;
   display: flex;
   width: 100%;
}
.point-of-departure-space,
.destination-space {
   width: 25%;
}
.point-of-departure-space,
.destination-space,
.date-of-departure-destination {
   height: auto;
   border-radius: 10px;
   line-height: 1.25;
   background-color: #fff;
   border: 5px solid #ffc709;
   color: #2d4271;
   line-height: 28px;
   padding-right: 20px;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
   box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 10px 0px;
}
.point-of-departure-space {
   display: flex;
}
.destination-space {
   display: flex;
}
.date-of-departure-destination {
   display: flex;
   margin-left: 20px;
   width: 30%;
}
.infor {
   display: flex;
   flex-direction: column;
   width: 80%;
   align-content: center;
   justify-content: center;
}
.icon {
   padding: 16px;
}
.name {
   font-size: 1.3rem;
}
.value {
   font-weight: 700;
}
.form-selector {
   width: 250px;
   height: 300px;
   overflow-y: scroll;
   border: 1px solid #000;
   border-radius: 10px;
   background-color: #fff;
}
.form-selector-item {
   padding: 5px 10px;
   color: #2d4271;
   &:hover {
      background-color: #bebebe;
   }
}
.btn-submit {
   margin-left: 20px;
   color: #ffc709 !important;
   font-weight: 600;
   color: #382b22;
   text-transform: uppercase;
   padding: 1.25em 2em;
   background: #fff0f0;
   border: 2px solid #b18597;
   border-radius: 0.75em;
   transform-style: preserve-3d;
   transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
   &::before {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #f9c4d2;
      border-radius: inherit;
      box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0 #ffe3e2;
      transform: translate3d(0, 0.75em, -1em);
      transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
   }
   &:hover {
      background: #ffe9e9;
      transform: translate(0, 0.25em);
      &::before {
         box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #ffe3e2;
         transform: translate3d(0, 0.5em, -1em);
      }
   }
   &:active {
      background: #ffe9e9;
      transform: translate(0em, 0.75em);
      &::before {
         box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
         transform: translate3d(0, 0, -1em);
      }
   }
}
